body {
  background-image: url("../img/bgr-pic.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif; }

main {
  flex: 1; }

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 30; }

.contpre small {
  font-size: 25px; }

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #454545;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px; }

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url("../img/circles.svg") center center no-repeat;
  fill: #454545;
  background-size: 41px;
  margin: -16px 0 0 -16px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button, a {
  cursor: pointer; }

.pagename {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding-top: 30px;
  color: #454545; }
  .pagename--rus {
    font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .pagename {
      padding-top: 15px; } }

@keyframes emersion {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.noinfo {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #454545; }

.lang-buttons a {
  text-decoration: none;
  color: #454545;
  display: inline-block;
  margin: 2px 15px; }
  @media (max-width: 599px) {
    .lang-buttons a {
      font-size: 12px;
      margin: 2px 10px; } }

.mainpage {
  animation: emersion 1.5s ease-in; }

.odrimainpage {
  height: 100vh;
  display: flex;
  flex-direction: row; }

.mainPageLeft {
  height: 100%;
  width: 45%; }
  @media (max-width: 900px) {
    .mainPageLeft {
      display: none; } }
  .mainPageLeft__img {
    height: 100%;
    display: block;
    text-align: right; }
    @media (max-width: 900px) {
      .mainPageLeft__img {
        display: none; } }

.mainPageRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (max-width: 900px) {
    .mainPageRight {
      width: 90%;
      margin: 0 auto; } }
  .mainPageRight__upper {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .mainPageRight__ulink {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #454545;
    font-family: "Rochester", cursive;
    font-size: 2.2em;
    padding: 3px; }
    @media (max-width: 900px) {
      .mainPageRight__ulink {
        background: linear-gradient(to right, #454545 20%, #894fa1 40%, #cc7ff0 60%, #454545 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 5s linear infinite; } }
    .mainPageRight__ulink:hover {
      background: linear-gradient(to right, #454545 20%, #894fa1 40%, #cc7ff0 60%, #454545 80%);
      background-size: 200% auto;
      color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite; }
@keyframes shine {
  to {
    background-position: 200% center; } }
  @media (max-width: 900px) {
    .mainPageRight__uheading {
      text-align: center; } }
  .mainPageRight__hideheading {
    display: none; }
    @media (max-width: 900px) {
      .mainPageRight__hideheading {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center; } }
  .mainPageRight__lower {
    height: 45%;
    display: flex;
    justify-content: flex-end; }
  .mainPageRight__link {
    display: block;
    margin: auto 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #858585; }

.odri-header {
  display: flex;
  justify-content: space-between; }

.navigation {
  position: relative;
  width: 100%; }
  .navigation__logo {
    width: 100%;
    height: 60px;
    padding-top: 5px; }
    @media (max-width: 599px) {
      .navigation__logo {
        width: 90%;
        margin: 0 auto;
        height: 50px; } }
  .navigation__link {
    text-decoration: none;
    font-family: "Rochester", cursive;
    color: #454545;
    font-size: 1.3em; }
    @media (max-width: 599px) {
      .navigation__link {
        font-size: 1em; } }
  .navigation__heading {
    text-align: right;
    margin: 0; }
    @media (max-width: 599px) {
      .navigation__heading {
        text-align: center; } }
  @media (max-width: 599px) {
    .navigation {
      width: 100%;
      margin: 0 auto; } }

.odri-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  font-size: 18px; }
  @media (max-width: 599px) {
    .odri-nav__list {
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 14px; } }
.odri-nav__list-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: black;
  border: 1px solid transparent;
  padding: 5px 15px; }
  .odri-nav__list-link--rus {
    font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .odri-nav__list-link {
      margin-top: 5px;
      margin-bottom: 5px; } }
  .odri-nav__list-link:hover {
    color: #bc00ff;
    border: 1px solid #bc00ff;
    padding: 5px 15px;
    border-radius: 3px; }
    @media (max-width: 599px) {
      .odri-nav__list-link:hover {
        border: 1px solid transparent; } }
  .odri-nav__list-link:active {
    transition: all 0.5s ease-in; }
@media (max-width: 599px) {
  .odri-nav {
    width: 95%;
    margin: 0 auto; } }

.fixed-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.85);
  animation: headerreveal 1s ease-in; }

@keyframes headerreveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.model-filter {
  width: 30%;
  text-align: center;
  margin: 15px auto 0;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 900px) {
    .model-filter {
      width: 90%;
      margin: 10px auto; } }
  .model-filter__item {
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Raleway", sans-serif;
    border: 1px solid transparent;
    padding: 5px 15px; }
    .model-filter__item--rus {
      font-family: "Roboto", sans-serif; }
    .model-filter__item--active {
      color: #bc00ff;
      border: 1px solid #bc00ff;
      padding: 5px 15px;
      border-radius: 3px; }

.models {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 900px) {
    .models {
      justify-content: space-around; } }
  @media (max-width: 599px) {
    .models {
      justify-content: space-around; } }

.model {
  width: 24.5%;
  padding-top: 10px;
  position: relative;
  filter: grayscale(100%); }
  @media (max-width: 900px) {
    .model {
      width: 32%;
      padding-top: 5px; } }
  @media (max-width: 599px) {
    .model {
      width: 48%;
      padding-top: 5px; } }
  .model__imgprev {
    width: 100%;
    height: 100%;
    display: block; }
  .model__name {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    background-color: rgba(57, 57, 57, 0.73);
    color: #e093ff; }
    .model__name--rus {
      font-family: "Roboto", sans-serif; }
  .model:hover {
    filter: grayscale(0%); }

footer {
  background-color: #454545; }

.odri-footer {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 900px) {
    .odri-footer {
      width: 90%;
      margin: 0 auto; } }

.aboutus {
  width: 60%;
  display: flex;
  flex-direction: row; }
  .aboutus__odri-heading {
    width: 50%;
    font-family: "Rochester", cursive;
    color: white;
    font-size: 24px;
    margin: 0; }
    @media (max-width: 900px) {
      .aboutus__odri-heading {
        font-size: 20px;
        width: 40%; } }
  .aboutus__list {
    width: 30%;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 900px) {
      .aboutus__list {
        flex-direction: column;
        width: 55%; } }
  .aboutus__list-item {
    margin-top: 5px; }
  .aboutus__list-link {
    font-family: "Raleway", sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300; }
    .aboutus__list-link--rus {
      font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .aboutus {
      width: 70%;
      justify-content: space-between; } }

.contactus {
  width: 50%;
  text-align: right; }
  .contactus__text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px; }
    .contactus__text--rus {
      font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .contactus {
      width: 30%; } }

.socialmedia {
  text-align: right; }
  .socialmedia__link {
    margin-left: 10px;
    font-size: 24px;
    color: white; }
    .socialmedia__link:hover {
      color: #bc00ff; }
    .socialmedia__link--mod {
      color: #454545; }
    @media (max-width: 599px) {
      .socialmedia__link {
        font-size: 18px; } }
  .socialmedia--mod {
    color: #454545;
    text-align: left;
    margin-right: 10px; }

.model-profile {
  padding: 35px 0;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 900px) {
    .model-profile {
      flex-direction: column; } }

.model-info {
  width: 30%; }
  @media (max-width: 900px) {
    .model-info {
      width: 90%;
      margin: 0 auto; } }
  .model-info__name {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase; }
    .model-info__name--rus {
      font-family: "Roboto", sans-serif; }

.model-photos {
  width: 60%;
  text-align: right; }
  @media (max-width: 900px) {
    .model-photos {
      width: 100%;
      margin: 0 auto; } }

.photos-fullsize {
  width: 100%; }

.slick-arrow {
  display: none; }

.options {
  display: flex;
  flex-direction: row;
  width: 100%; }

.model-options {
  width: 70%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 400; }
  .model-options--rus {
    font-family: "Roboto", sans-serif; }
  .model-options__option {
    padding: 20px 0;
    width: 80%;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box; }

.option-values {
  width: 30%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 400; }
  .option-values--rus {
    font-family: "Roboto", sans-serif; }
  .option-values__value {
    padding: 20px 0;
    border-bottom: 1px solid transparent; }

.photos-fullsize img {
  filter: grayscale(100%); }

.photos-fullsize img:hover {
  filter: grayscale(0%); }

.slider-section {
  width: 100%;
  text-align: center !important;
  padding-top: 50px;
  padding-bottom: 50px; }

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;
  height: 400px;
  border: 2px solid #bfbfbf;
  border-radius: 50px; }
  .slide__img {
    width: 45%; }
  .slide__text {
    width: 45%;
    text-align: right; }
  .slide__heading {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #454545; }
  .slide__description {
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
  .slide__learn-more {
    font-family: "Rouge Script", cursive;
    font-size: 24px;
    text-decoration: none;
    color: #bc00ff; }

.model-reg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (max-width: 900px) {
    .model-reg {
      flex-direction: column; } }

.text-reg {
  width: 35%; }
  .text-reg__heading {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #454545; }
    .text-reg__heading--rus {
      font-family: "Roboto", sans-serif; }
  .text-reg__text {
    font-family: "Roboto", sans-serif;
    color: #454545;
    font-weight: 300;
    padding: 10px 0; }
  @media (max-width: 900px) {
    .text-reg {
      width: 80%;
      margin: 0 auto; } }
  @media (max-width: 599px) {
    .text-reg {
      width: 95%;
      margin: 0 auto; } }

.form-reg {
  width: 60%; }
  @media (max-width: 900px) {
    .form-reg {
      width: 80%;
      margin: 0 auto; } }
  @media (max-width: 599px) {
    .form-reg {
      width: 95%;
      margin: 0 auto; } }

.form-reg input {
  width: 100%;
  padding: 7px;
  border: 1px solid #939393;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5); }
  .form-reg input:hover {
    background-color: rgba(218, 95, 250, 0.2); }
  .form-reg input:focuss {
    background-color: rgba(218, 95, 250, 0.2); }

.form-reg input[type="submit"] {
  display: block;
  width: 20%;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #454545; }

.reg-form__heading {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #454545; }
  .reg-form__heading--rus {
    font-family: "Roboto", sans-serif; }

input[type="radio"] {
  width: 10%; }

.field-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.reg-field {
  width: 100%;
  margin: 5px 0; }
  .reg-field__label {
    font-family: "Roboto", sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    font-style: italic;
    color: #rgb 172, 172, 172; }
  .reg-field--half {
    width: 45%; }
    @media (max-width: 599px) {
      .reg-field--half {
        width: 100%; } }
  .reg-field--quarter {
    width: 20%; }
  .reg-field--third {
    width: 30%; }

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 900px) {
    .contact-flex {
      width: 100%;
      margin: 0 auto; } }

.contact-info {
  width: 45%; }
  @media (max-width: 900px) {
    .contact-info {
      width: 90%;
      margin: 0 auto; } }
  .contact-info__heading {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #454545; }
    .contact-info__heading--mod {
      margin-top: 50px; }
    .contact-info__heading--rus {
      font-family: "Roboto", sans-serif; }
  .contact-info__list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #454545; }
  .contact-info__list-item i {
    font-size: 1.6em;
    color: #454545; }
  .contact-info__link {
    text-decoration: none;
    color: #454545; }

.contact-map {
  width: 50%; }
  @media (max-width: 900px) {
    .contact-map {
      width: 100%;
      margin: 0 auto; } }
  .contact-map__heading {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #454545; }
    .contact-map__heading--rus {
      font-family: "Roboto", sans-serif; }

#map-main {
  width: 100%;
  height: 50vh;
  filter: grayscale(100%);
  transition: filter 0.4s ease; }
  #map-main:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease-in; }

/*# sourceMappingURL=main.css.map */
