.aboutus-wrapper {
  @media (max-width: 900px) {
    width: 95%;
    margin: 0 auto;

  }

}

.aboutus-info {

  &__heading {
    font-family: $head-font;
    text-transform: uppercase;
    color:#454545;
    text-align: center;
  }
  &__desc {
    font-family: $text-font;
    color: #454545;
    font-size: 1.2em;
    text-align: center;
  }
  &__headname {
    font-family: $head-font;
    text-transform: uppercase;
    color:#454545;
    letter-spacing: 2px;
    font-size: 1.8em;
  }
  &__headpos {
    font-family: $text-font;
    color: #454545;
    font-style: italic;
    font-weight: 300;
    padding-top: 0;
    font-size: 1.4em;
  }
}
.director-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    @media (max-width: 586px) {
      flex-direction: column;
    }
  @media (max-width: 799px) {

  }

  &__photo {
    width: 40%;
    @media (max-width: 586px) {
      width: 95%;
      margin: 0 auto;
    }
  }
  &__photoimg {
    width: 100%;
  }
  &__desc {
    width: 55%;
    position: relative;
    @media (max-width: 586px) {
      width: 95%;
      margin: 0 auto;

    }
  }
  &__desctext {
    font-family: $text-font;
    color: #454545;
    font-size: 1.4em;
    text-align: justify;
    @media (max-width: 900px) {
      font-size: 1.1em;
    }
    @media (max-width: 586px) {
      font-size: 1.1em;
    }
  }
  &__descwrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 586px) {
      position: inherit;
      transform: none;
    }
  }
}
.team-info {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 586px) {
    flex-wrap: wrap;
  }
}
.teammember {
  width: 23%;
  @media (max-width: 586px) {
    width: 48%;
  }
  &__photo {
    width: 100%;
  }
  &__photoimg {
    width: 100%;
  }
  &__name {
    font-family: $head-font;
    text-transform: uppercase;
    color: #454545;
    text-align: center;
  }
  &__pos {
    font-family: $text-font;
    color: #454545;
    text-align: center;
    font-weight: 300;
    text-transform: lowercase;
    font-style: italic;
  }
}
