$odri-font: 'Rochester', cursive;
$rouge-font: 'Rouge Script', cursive;
$head-font: 'Alegreya Sans SC', sans-serif;
$text-font: 'Roboto', sans-serif;
$hover-color: rgb(188, 0, 255);
$light-color: rgb(224, 147, 255);

body {
  background-image: url('../img/bgr-pic.jpg');

  background-size: cover;
  display: flex;
 min-height: 100vh;
 flex-direction: column;
 font-family: Arial, sans-serif;

}

main {

  flex: 1;

}
#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background-color: #fff;
z-index: 30;}

.contpre small{font-size:25px;}

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#454545;
font-family: $head-font;
text-transform: uppercase;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}

#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url('../img/circles.svg') center center no-repeat;
fill: #454545;
background-size:41px;
margin: -16px 0 0 -16px;}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
*:focus {
outline: none;
}

button,a {
  cursor: pointer;
}
.pagename {
  font-family: $head-font;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding-top: 30px;
  color: #454545;
  &--rus {
    font-family: $text-font;
  }
    @media (max-width: 599px) {
      padding-top: 15px;
    }
}
@keyframes emersion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.noinfo {
  width:40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-family: $text-font;
  text-transform: uppercase;
  font-size: 24px;
  color: #454545;
}

.lang-buttons a {
  display: none;
  text-decoration: none;
  color: #454545;
  // display: inline-block;
  margin: 2px 15px;
  @media (max-width: 599px) {
    font-size: 12px;
    margin: 2px 10px;
  }
}


.slick-dots {
    padding-bottom: 60px;
    background-color: #fff;
    bottom: -70px;
}

.slick-dots li button:before {
    font-size: 14px;
    color: rgba(17, 190, 155, 0.5);
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 14px;
    color: #11be9b;
}
