footer {
  background-color: #454545;
}
.odri-footer {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  @media (max-width: 900px) {
    width: 90%;
    margin: 0 auto;
  }
}
.aboutus {
  width: 60%;
  display: flex;
  flex-direction: row;
  &__odri-heading {
    width: 50%;
    font-family: $odri-font;
    color: white;
    font-size: 24px;
    margin: 0;
    @media (max-width: 900px) {
  font-size: 20px;
    }
  }
  &__list {
    width: 30%;
    display: flex;
    justify-content: space-around;
    @media (max-width: 900px) {
  flex-direction: column;
  width:60%;
    }
  }
  &__list-item {
    margin-top: 5px;
  }
  &__list-link {
    font-family: $head-font;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    &--rus {
      font-family: $text-font;
    }

  }
}
.contactus {
  width: 50%;
    text-align: right;
    &__text {
      font-family: $head-font;
      font-size: 14px;
        color: white;
        font-weight: 300;
            text-transform: uppercase;
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            &--rus {
              font-family: $text-font;
            }
    }
}
.socialmedia {
text-align: right;
  &__link {
    margin-left: 10px;
    font-size: 24px;
    color: white;
    &:hover {
      color: $hover-color;
    }
    &--mod {
      color: #454545;
    }
  }
  &--mod {
    color: #454545;
    text-align:left;
    margin-right: 10px;
  }
}
