header {
    // background-color: rgba(204, 202, 202, 0.5)
}

.odri-header {
    display: flex;
    justify-content: space-between;

}

.navigation {
    position: relative;
    width: 100%;
    &__logo {
        width: 100%;
        height: 60px;
        padding-top: 5px;
    }
    &__link {
        text-decoration: none;
        font-family: $odri-font;
        color: #454545;
        font-size: 1.3em;
        // line-height: 1.5em;


    }

    &__heading {
        text-align: right;
        margin: 0;

    }
}

.odri-nav {


    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        font-size: 18px;
    }

    &__list-link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Raleway';
        color: black;
        border: 1px solid transparent;
padding: 5px 15px;

        &:hover {
            color: rgb(188, 0, 255);
            border: 1px solid rgb(188, 0, 255);
padding: 5px 15px;
border-radius: 3px;
        }

        &:active {
            transition: all 0.5s ease-in;
        }
    }
}

.fixed-header {
  padding-top: 10px;
  padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);
    animation: headerreveal 1s ease-in;
}


@keyframes headerreveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
