.model-profile {
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.model-info {
  width: 40%;
  @media (max-width: 900px) {
      width: 90%;
      margin: 0 auto;
    }
  &__name {
    font-family: $head-font;
    text-transform: uppercase;
    &--rus {
      font-family: $text-font;
    }
  }
}

.model-photos {
  width: 60%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 900px) {
    width: 100%;

  }
}
.slider-buttons {
  width: 7%;
  font-size: 48px;
  cursor: pointer;
  position: relative;
  &--right {
    text-align: right;
  }
  @media (max-width: 900px) {
    display: none;
  }
}
.slider-buttons button{
  width: 7%;
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
}
.slider-buttons i{
  font-size: 48px;
  color: #454545;

}
.slick-prev, .slick-next {
    width: 36px;
    height: 36px;
}

.slick-next {
    right: -35%;
}
.slick-prev {
  left:-35%;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 36px;
    line-height: 1;
    opacity: .75;
    color: #252525;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.model-slider {
  width: 60%;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.model-slide {
  width: 100%;
  &__photo {
    width: 100%;
  }
}
// .model-photos {
//   width: 60%;
//   text-align: right;
//   @media (max-width: 900px) {
//       width: 100%;
//       margin: 0 auto;
//     }
// }
//
// .photos-fullsize {
//       width: 100%;
//   &__photo {
//
//   }
// }
//
// .slick-arrow {
//   display: none;
// }
//
.options {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.model-options {
  width: 70%;
  font-family: $head-font;
  text-transform: uppercase;
  font-weight: 400;
  &--rus {
    font-family: $text-font;
  }
  &__option {
    padding: 20px 0;
    width: 80%;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
  }
}
.option-values {
  width: 30%;
  font-family: $head-font;
  text-transform: uppercase;
  font-weight: 400;
  &--rus {
    font-family: $text-font;
  }
  &__value {
    padding: 20px 0;
    border-bottom: 1px solid transparent;
  }
}

.model-slide__photo {
  filter: grayscale(100%);
}
.model-slide__photo:hover {
  filter: grayscale(0%);
  transition: all 0.3s ease-in;
}
