.model-profile {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.model-info {
  width: 30%;
  @media (max-width: 900px) {
      width: 90%;
      margin: 0 auto;
    }
  &__name {
    font-family: $head-font;
    text-transform: uppercase;
    &--rus {
      font-family: $text-font;
    }
  }
}

.model-photos {
  width: 60%;
  text-align: right;
  @media (max-width: 900px) {
      width: 100%;
      margin: 0 auto;
    }
}

.photos-fullsize {
      width: 100%;
  &__photo {
      
  }
}

.slick-arrow {
  display: none;
}

.options {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.model-options {
  width: 70%;
  font-family: $head-font;
  text-transform: uppercase;
  font-weight: 400;
  &--rus {
    font-family: $text-font;
  }
  &__option {
    padding: 20px 0;
    width: 80%;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
  }
}
.option-values {
  width: 30%;
  font-family: $head-font;
  text-transform: uppercase;
  font-weight: 400;
  &--rus {
    font-family: $text-font;
  }
  &__value {
    padding: 20px 0;
    border-bottom: 1px solid transparent;
  }
}

.photos-fullsize img {
  filter: grayscale(100%);
}
.photos-fullsize img:hover {
  filter: grayscale(0%);
  // transition: all 0.1s ease-in;
}
