.model-reg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
.text-reg {
  width: 35%;
  &__heading {
    font-family: $head-font;
    text-transform: uppercase;
    color: #454545;
  }
  &__text {
    font-family: $text-font;
    color: #454545;
    font-weight: 300;
    padding: 10px 0;
  }
  @media (max-width: 900px) {
    width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 599px) {
    width: 95%;
    margin: 0 auto;
  }
}

.form-reg {
  width: 60%;
  @media (max-width: 900px) {
    width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 599px) {
    width: 95%;
    margin: 0 auto;
  }
}
.form-reg input {
  width: 100%;
  padding: 7px;
  border: 1px solid #939393;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: rgba(218, 95, 250, 0.2);
  }
  &:focuss {
    background-color: rgba(218, 95, 250, 0.2);
  }
}
.form-reg input[type="submit"] {
  display: block;
  width: 20%;
  margin-top: 15px;
  font-family: $text-font;
  text-transform: uppercase;
  color:#454545;
}
.reg-form {
  &__heading {
    font-family: $head-font;
    text-transform: uppercase;
    color: #454545;
  }
}
input[type="radio"] {
  width: 10%;
}

.field-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 599px) {

  }
}
.reg-field {

width: 100%;
    margin: 5px 0;
    &__label {
    font-family: $text-font;
    text-transform: lowercase;
    font-weight: 300;
    font-style: italic;
    color: #rgb(172, 172, 172)
    }
&--half {
  width: 45%;
  @media (max-width: 599px) {
width: 100%;
  }
}
&--quarter {
  width: 20%;
}
&--third {
  width: 30%;
}

}
